body{
    background: #556270;
}


.menu{
    list-style:none;
    border:1px solid #c0c0c0;
    float:left;
    margin-right: 30%;
    margin-left: 30%;
    background: #594F4F;

}

.menu li{
    position:relative;
    float:left;
    border-right:1px solid #c0c0c0;
}


.menu li a{color:#45ADA8; text-decoration:none; padding:5px 10px; display:block;}

.menu li a:hover{
    background:#FF6B6B;
    color:#C7F464;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}

.menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#fff;
    display:none;
}


.menu li:hover ul, .menu li.over ul{display:block;}
.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
}



main{
    width: 100%;
    height: auto;
    float: left;
    position: relative;
    z-index: 4;
    margin-bottom: 30px;

}

section.content{
    width: 1110px;
    height: 1110px;
    margin: 0 auto;
    background: #4ECDC4;
    margin-top: -25px;
    z-index:1;
}

section.conteudo{
    width: 700px;
    height: auto;
    float: inherit;
    margin-left: 20%;
    margin-right: 20%;
}

section.rodape{
    width: 120%;
    margin-left: -50px;
    margin-right: -50px;
    margin-top: -30px;
    height: 150px;
    background:#FF6B6B;
    float: left;

}

.rodape-centrado{
    margin-left: 35%;
    margin-right:40%;
}